<footer class="footer">
  <small>
    by Gerrit
  </small>
  <nav>
    <ul>
      <li><%= link_to I18n.t('layout.footer.About'),   about_path %></li>
      <li><%= link_to I18n.t('layout.footer.Contact'), contact_path %></li>
    </ul>
  </nav>
</footer>